body {
    background-color: #d1d8e5;
    display: flex;
    justify-content: center;
}
header {
    text-align: center;
    border-bottom: solid 2px rgb(217, 217, 217);
}
header h1 {
    font-size: 33px;
}
h1, p, button {
    font-family: 'Poppins', sans-serif;
}
p {
    font-weight: 600;
}
#miniCartItemName {
    width: 84%;
    height: 33px;
    overflow: hidden;
    text-transform: lowercase;
    margin-bottom: 10px;
    font-weight: 800;
}
#miniCartItemName:first-letter {
    text-transform: capitalize;
}
.miniCartItemData {
    margin-left: 26px;
}
.miniCartItemData p {
    font-size: 24px;
    font-weight: 500;
}
#miniCartItemListPrice {
    font-size: 17px;
    color: #b1b1b1;
    margin-bottom: 0px;
    margin-top: 0px;
}
#miniCartItemPrice {
    font-size: 18px;
    margin-top: 0px;
}
#miniCart {
    background-color: white;
    width: 100%;
    height: auto;
    padding-bottom: 22px;
    max-width: 799px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: -2px 2px 20px 6px rgba(140,140,140,1);
    -moz-box-shadow: -2px 2px 20px 6px rgba(140,140,140,1);
    box-shadow: -2px 2px 20px 6px rgba(140,140,140,1);
}
.miniCartItems {
    overflow: scroll;
    max-height: 660px;
    max-width: 100%;
    padding-left: 0px;
}
.miniCartItemImageContainer {
    min-width: 138px;
    height: 138px;
    display: flex;
    justify-content: center;
    border: solid 1px rgb(217, 217, 217);
}
.miniCartItem {
    list-style:none;
    display:flex;
    justify-content:flex-start;
    padding-left: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#miniCartItemImage {
    width: 82%;
}

#miniCartTotal {
    border-bottom: solid 2px rgb(217, 217, 217);
    border-top: solid 2px rgb(217, 217, 217);
}

.totalizerWithShipping, .totalizer{
    font-size: 33px;
    display: flex;
    justify-content: space-between;
    width: 91%;
    margin: 0 auto;
}

.miniCartFreeShipping p{
    color: #288008;
    text-align: center;
    font-size: 28px;
    background: #c7fda6;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 31px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.miniCartFreeShipping{
    margin-bottom: 30px;
}

#miniCartBuyButton{
    background-color: #3b74f2;
    font-size: 33px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    display: block;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    margin-top: 25px;
    cursor: pointer;
}